.autor{
    position: absolute;
    top: 80%;
    left: 10%;
    height: 50px;
    transform: translate(-50%, -50%);
}
.moneda, .masa {
    height: 75px;
    position: absolute;
    transform: translate(-50%, -50%);
}
.moneda{
    top: 50%;
    left: 60%;

}
.masa{
    top: 50%;
    left: 85%;
}

.volver{
    height: 30px;
    position: absolute;
    top: 10%;
    left: 95%;
    transform: translate(-50%, -50%);
}
